.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #1c1c1c;
  width: 100%;
}

.left-accent {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 135px;
  background: linear-gradient(
    90deg,
    #fe797b 0% 25%,
    #ffb750 25% 50%,
    #90e969 50% 75%,
    #a687cb 75% 100%
  );
  transform: skewX(-35deg);
  margin-left: -50px;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  /* Add this to push the logo past the end of the slanted strips */
  padding-left: 200px;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 42px;
  color: #ffffff;
  letter-spacing: 2px;
}

.emoji {
  width: 50px;
  height: 50px;
}

.divider {
  height: 1px;
  background: #9e9e9e;
  opacity: 0.4;
  position: relative;
  z-index: 0;
}
