<div class="card" (click)="goToDetail()">
  <div class="image-container">
    <img [src]="movie['Image URL']" [alt]="movie.Title" />
    <div class="rating-badge" [ngStyle]="{ background: ratingColor }">
      {{ movie.Rating }}
    </div>
  </div>

  <div class="card-content">
    <div class="year">{{ movie.Year }}</div>
    <h3 class="title">{{ movie.Title }}</h3>

    <div class="genres">
      <span class="genre" *ngFor="let genre of genres">
        {{ genre }}
      </span>
    </div>
  </div>
</div>
