.search-container {
  text-align: center;
  margin: 2rem 0;

  input {
    width: 300px;
    padding: 10px;
    border-radius: 25px;
    border: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
