@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pacifica';
  src: url('./assets/fonts/Pacifico-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #111;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

* {
  box-sizing: border-box;
}
